@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (!string.IsNullOrWhiteSpace(Request.Query["Message"]))
{
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Request.Query["Message"].ToString()
</div>
}

<div class="pad-top-10">
    <h4>Somethings you can do when you register:</h4>
    <ul>
        <li>Use our URL Shortening Service</li>
        <li>If you use PushBullet, you can use our PushBullet API</li>
        <li>Utility classes in our API</li>
        <li>More to come...</li>
    </ul>
</div>
