@page
@model PushBulletModel
@{
    ViewData["Title"] = "Manage PushBullet";
    ViewData["ActivePage"] = ManageNavPages.PushBullet;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="pushbullet-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Enable" class="form-check-inline" />
                <label asp-for="Input.Enable"></label>
            </div>
            <div class="form-group">
                <label asp-for="Input.ApiKey"></label>
                <input asp-for="Input.ApiKey" class="form-control" />
                <span asp-validation-for="Input.ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.EncryptionKey"></label>
                <input asp-for="Input.EncryptionKey" class="form-control" />
                <span asp-validation-for="Input.EncryptionKey" class="text-danger"></span>
            </div>
            <input asp-for="Input.HiddenEncryptedApiKey" type="hidden" />
            <input asp-for="Input.HiddenEncryptedEncryptionKey" type="hidden" />
            <button id="save-settings-button" type="submit" class="btn btn-dark">Save Settings</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
